/* ------------------------------------------------------------------------
Colors
------------------------------------------------------------------------- */

$white: #FFF;
$black: #000;
$cyan: #00c0ee;

$gray1: #333;
$gray2: #666;
$gray3: #c7c7c7;
$gray4: #7f7f7f;
$gray5: #b2b2b2;


/* ------------------------------------------------------------------------
Type Styles
------------------------------------------------------------------------- */

$font_family: 'Open Sans', Arial, Helvetica, sans-serif;

@mixin type-body {
	font-family: $font_family;
	font-size: 16px;
	line-height: 1.75em;
	color: $black;
}

@mixin type-heavy {
	font-weight: 700;
}

@mixin type-light {
	font-weight: 300;
}


/* ------------------------------------------------------------------------
Resolutions
------------------------------------------------------------------------- */

$resolution-full: 870px;
$resolution-responsive: 770px;