.custom-select {
  position: relative;
}

.custom-select div {
  border: 1px solid $gray2;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: $white;
  border-bottom: 0;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 12px;
  margin-top: -9px;
  width: 9px;
  height: 9px;
  border: 2px solid $black;
  border-color: transparent transparent $black $black;
  transform: rotate(-45deg);
}

.select-selected.select-arrow-active:after {
  margin-top: -3px;
  border-color: $black $black transparent transparent;
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $white;
  border-top: none;
  border-left: none;
  border-right: none;
  border: none !important;
}

.select-items div, .select-selected {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  border-top: none;
}

.select-selected {
  color: $black;
}


.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  color: $white;
  background-color: $cyan;
}